<footer class="all">
    <div class="top">
        <div class="topLeft">
            <p class="cts point" [routerLink] = "['/contact']">CONTACT</p>
            <p class="cts point">TERMS OF SERVICES</p>
            <P class="cts point">SHOPPING AND RETURNS</P>
        </div>
        <div class="topmejt">
            <input type="checkbox">i agree to the website’s terms and conditions
        </div>
        <div class="topright">
            <input type="email" placeholder="Give an email, get the newsletter." class="rleft">
            <div class="rright">
                <img src="assets/icons/right-arrow.png" alt="slack" class="point">
            </div>
        </div>
    </div>
    <div class="bottom">
        <div class="bottleft">
            <p class="bol">© 2021 Shelly. </p>
            <p class="point"> Terms of use </p>
            <p class="bol"> and </p>
            <p class="point" [routerLink] = "['/policy']"> privacy policy. </p>
        </div>
        <div class="icons">
            <div class="hid">
                <p class="flw">Follow us</p>
                <hr class="hr">
            </div>
            <a href="https://www.linkedin.com"><img src="assets/social-icons/in.png" height="18px"
                    width="18px" class="ic point link"></a>
            <a href="https://www.facebook.com"> <img src="assets/social-icons/fb.png" height="18px"
                    width="10px" class="ic point"></a>
            <a href="https://www.instagram.com"> <img src="assets/social-icons/ig.png" height="18px"
                    width="18px" class="ic point"></a>
            <a href="https://twitter.com"> <img src="assets/social-icons/tw.png" height="17px" width="20px"
                    class=" ic point"></a>
        </div>

    </div>
</footer>
