<div class="all">
    <div class="forcont">
        <p class="cont">Contact </p>
        <p class="cont none">Us</p>
    </div>
    <p class="txt">Say Hello send us your thoughts about our products or share
        <br>your ideas with our Team!
    </p>
    <div class="inputs">
        <div class="tox1">
            <input type="text" placeholder="First name" class="inp">
            <input type="text" placeholder="Last name" class="inp">


        </div>
        <div class="tox2">
            <input type="email" placeholder="Email" class="inp">
            <form action="">
                <input list="subj" placeholder="Subject" class="inp">
                <datalist id="subj">
                    <option value="General Information">
                    <option value="Request for Support ">
                    <option value="Other">
                </datalist>
            </form>
        </div>
    </div>
    <input type="text" placeholder="Message" class="inp mess">
    <div class="forbtn">
        <button class="btn">Send</button>
    </div>
</div>