<div class="container">
    <h1>About</h1><br><br>
    <h3>Who we are and why we do what we do!</h3><br><br>
    <h5>Duis rutrum dictum libero quis rutrum. Etiam sed neque aliquam, sollicitudin ante a,<br> gravida arcu. Nam fringilla molestie velit, eget pellentesque risus scelerisque a. Nam ac<br> urna maximus, tempor magna et, placerat urna. Curabitur eu magna enim. Proin placerat<br> tortor lacus, ac sodales lectus placerat quis. </h5><br><br>
    <h2>Top trends</h2><br>
    <img src="../../assets/images/01.png" alt="pic" class="responsive-img"><br><br>
    <p class="class2">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam placerat, augue a volutpat hendrerit, sapien tortor faucibus augue, a maximus elit ex vitae libero. Sed quis mauris eget arcu facilisis consequat sed eu felis. </p><br>
    <p class="class3">● consectetur adipiscing elit. Aliquam placerat<br>● Lorem ipsum dolor sit amet consectetur
    </p><br><br>
    <h2>Produced with care</h2><br>
    <img src="../../assets/images/02.png" alt="pic" class="responsive-img"><br><br>
    <h5>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam placerat, augue a volutpat hendrerit, sapien tortor faucibus augue, a maximus elit ex vitae libero. Sed quis mauris eget arcu facilisis consequat sed eu felis. Nunc sed porta augue. Morbi porta tempor odio, in molestie diam bibendu.
    </h5>
</div>
