<div class = "container">
  <div class = "main">
    <p class = "text">My Account</p>
    <div class = "buttons">
      <button class = "sign-in-path" [routerLink] = "['/login']">Sign In</button>
      <button class = "register-path" [routerLink] = "['/register']">Register</button>
    </div>
    <div class="form" [formGroup] = "registerForm">
      <div>
        <input type = "text" class = "name" formControlName = "name" placeholder = "Name">
        <input type = "text" class = "last-name" formControlName = "lastName" placeholder = "Last Name">
      </div>
      <div>
        <input type = "email" class = "email" formControlName = "email" placeholder = "Email">
        <input type = "text" class = "user-name" formControlName = "username" placeholder = "Username">
      </div>
      <div>
        <input type = "password" class = "password" formControlName = "password" placeholder = "Password">
        <input type = "password" class = "password" formControlName = "repeatPassword" placeholder = "Repeat Password">
      </div>
    </div>
    <div><button type = "submit" class = "register" (click) = "Register()">Register</button></div>
  </div>
</div>
