<div class="container">
    <h1>Privacy Policy</h1><br><br>
    <p class="top">Duis rutrum dictum libero quis rutrum. Etiam sed neque aliquam, sollicitudin ante a,<br> gravida arcu. Nam fringilla molestie velit, eget pellentesque risus scelerisque a. Nam ac<br> urna maximus, tempor magna et, placerat urna. Curabitur eu magna enim. Proin placerat <br>tortor lacus, ac sodales lectus placerat quis. </p><br><br>
    <p class="middle">Security</p><br><br>
    <p>Duis rutrum dictum libero quis rutrum. Etiam sed neque aliquam, sollicitudin ante a,<br> gravida arcu. Nam fringilla molestie velit, eget pellentesque risus scelerisque.</p><br><br>
    <p class="middle">Cookies</p><br><br>
    <ul style="list-style-type:disc;">
        <li>Duis rutrum dictum libero quis rutrum. Etiam sed neque aliquam, sollicitudin.</li><br>
        <li>Nam fringilla molestie velit, eget pellentesque risus scelerisque a</li>
    </ul>
</div>
